body {
    font-family: Arial, sans-serif;
    background-color: #f0f8ff;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: #333;
  }
  
  .hero {
    text-align: center;
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .hero h1 {
    font-size: 2.5em;
    margin-bottom: 10px;
    color: #333;
  }
  
  .hero h1 span {
    color: #007BFF;
  }
  
  textarea {
    width: 100%;
    height: 100px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 20px;
    font-size: 1em;
    resize: none;
  }
  
  .row {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }
  
  select {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1em;
  }
  
  button {
    background-color: #007BFF;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 1em;
  }

  
  button img {
    width: 20px;
    height: 20px;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  